## Heatmap for Weather Parameters

In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#Import key
from config import g_key

In [2]:
#Store CSV cities
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dikson,73.5069,80.5464,33.64,72,100,20.00,RU,2022-09-24 10:4007
1,1,Hermanus,-34.4187,19.2345,69.80,60,100,8.16,ZA,2022-09-24 10:4008
2,2,Rikitea,-23.1203,-134.9692,69.89,69,49,10.25,PF,2022-09-24 10:4009
3,3,Airai,-8.9266,125.4092,62.13,82,62,0.87,TL,2022-09-24 10:4009
4,4,San Lorenzo,-25.3333,-57.5333,54.59,66,0,7.00,PY,2022-09-24 10:3629

In [3]:
#Get data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
#create a maximum temperature heatmap
gmaps.configure(api_key=g_key)
# 1 Assign the locations to an array of latitude and longitude pairs
# locations=[latitude,longitude]

#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# 2 Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length

# Get the max temperature
max_temp = city_data_df["Max Temp"]
# 3 Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()
# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the location
heatmap_layer= gmaps.heatmap_layer(locations, weights=max_temp)
# 5 add the heatmap layer
fig.add_layer(heatmap_layer)
# 6 Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# #Get the maximum temp
# max_temp = city_data_df["Max Temp"]
# temps=[]
# for temp in max_temp:
#     temps.append(max(temp,0))

In [6]:
#create a maximum temperature heatmap
gmaps.configure(api_key=g_key)
# 1 Assign the locations to an array of latitude and longitude pairs
# locations=[latitude,longitude]

#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# 2 Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length

# Get the max temperature
max_temp = city_data_df["Max Temp"]
# 3 Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()
# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the location
heatmap_layer= gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp])
# 5 add the heatmap layer
fig.add_layer(heatmap_layer)
# 6 Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust Heatmap zoom, Intensity, and Point Radius

In [7]:
#create a maximum temperature heatmap
gmaps.configure(api_key=g_key)
# 1 Assign the locations to an array of latitude and longitude pairs
# locations=[latitude,longitude]

#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# 2 Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length

# Get the max temperature
max_temp = city_data_df["Max Temp"]
# 3 Assign the figure variable to the gmaps.figure() attribute
#Add geographic center in the form of lat and long (30.0N and 31.0E) also add zoom level
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the location
#temperatures need to be modified so that they are larger and show temp gradient differences
heatmap_layer= gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], 
                                   dissipating=False,
                                   max_intensity=300, point_radius=4)
# 5 add the heatmap layer
fig.add_layer(heatmap_layer)
# 6 Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [8]:
#Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, 
                               dissipating=False, 
                               max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [9]:
#Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=cloudiness, 
                               dissipating=False, 
                               max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [10]:
#Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=wind, 
                               dissipating=False, 
                               max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Get vacation criteria
For the app we are creating, we need to promt the user to enter the minimum and maximum temperature ranges as floating point decimal numbers to filter the city_data_df. We use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the input() statement with the float() method, like this: float(input()).

In [11]:
#Ask the customer to add a minimum and maximum temperature value
min_temp= float(input("What is the minimum temperature you would like for your trip?"))
max_temp= float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

In [12]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & 
                                    (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(50)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Butaritari,3.0707,172.7902,81.45,77,43,10.92,KI,2022-09-24 10:4010
22,22,Vaini,-21.2000,-175.2000,75.36,94,40,6.91,TO,2022-09-24 10:4017
33,33,Sol-Iletsk,51.1631,54.9918,78.48,41,4,11.95,RU,2022-09-24 10:4022
38,38,Georgetown,5.4112,100.3354,85.95,77,20,5.99,MY,2022-09-24 10:4005
42,42,Hilo,19.7297,-155.0900,78.28,92,75,4.00,US,2022-09-24 10:4025
44,44,Grand-Lahou,5.1367,-5.0242,80.69,77,99,4.76,CI,2022-09-24 10:4127
47,47,Labuhan,-6.8844,112.2051,83.88,68,32,11.45,ID,2022-09-24 10:4128
48,48,Brandon,27.9378,-82.2859,77.86,95,0,5.01,US,2022-09-24 10:4129
56,56,Jiwani,25.0500,61.7417,82.90,78,73,12.86,PK,2022-09-24 10:4132
61,61,Nanyamba,-10.6833,39.8333,85.80,41,49,9.57,TZ,2022-09-24 10:4134
62,62,Nagua,19.3832,-69.8474,76.01,93,95,3.42,DO,2022-09-24 10:4134
64,64,Vanimo,-2.6741,141.3028,76.96,85,100,3.29,PG,2022-09-24 10:4135
65,65,Nalut,30.3333,10.8500,81.25,40,0,7.85,LY,2022-09-24 10:4135
69,69,Atuona,-9.8000,-139.0333,76.24,80,18,16.24,PF,2022-09-24 10:4137
73,73,Pringsewu,-5.3582,104.9744,77.49,90,63,2.77,ID,2022-09-24 10:4139
76,76,Victoria,22.2855,114.1577,85.17,68,61,11.01,HK,2022-09-24 10:4141
78,78,Axim,4.8699,-2.2405,81.30,73,81,7.16,GH,2022-09-24 10:4142
81,81,Rosetta,31.4044,30.4164,81.91,55,1,17.25,EG,2022-09-24 10:4143
83,83,Richards Bay,-28.7830,32.0377,85.51,45,0,13.65,ZA,2022-09-24 10:4144
84,84,Pontianak,-0.0333,109.3333,80.58,83,40,4.61,ID,2022-09-24 10:4145
91,91,Saint-Philippe,-21.3585,55.7679,78.39,71,0,13.42,RE,2022-09-24 10:4248
92,92,Sorong,-0.8833,131.2500,80.69,83,61,11.45,ID,2022-09-24 10:4126
96,96,Pitimbu,-7.4706,-34.8086,79.39,76,65,11.03,BR,2022-09-24 10:4250
97,97,Felanitx,39.4696,3.1483,81.14,50,77,11.99,ES,2022-09-24 10:4250
99,99,Korla,41.7597,86.1469,84.45,13,0,10.49,CN,2022-09-24 10:4251
103,103,Tura,25.5198,90.2201,78.76,87,99,3.40,IN,2022-09-24 10:4253
104,104,Mount Isa,-20.7333,139.5000,76.77,22,0,6.91,AU,2022-09-24 10:4253
106,106,Santa,17.4860,120.4348,78.80,78,89,4.45,PH,2022-09-24 10:4254
112,112,Kapaa,22.0752,-159.3190,79.12,84,100,12.66,US,2022-09-24 10:4256
117,117,Sao Filipe,14.8961,-24.4956,78.55,80,74,7.87,CV,2022-09-24 10:4258
120,120,Crato,-7.2342,-39.4094,76.71,78,75,0.00,BR,2022-09-24 10:4300
121,121,Pundaguitan,6.3711,126.1689,84.85,71,100,3.76,PH,2022-09-24 10:4300
124,124,Buchanan,5.8808,-10.0467,80.08,80,86,6.67,LR,2022-09-24 10:4302
126,126,Aksu,41.1231,80.2644,82.94,16,0,1.81,CN,2022-09-24 10:4303
130,130,Mayumba,-3.4320,10.6554,77.99,80,99,8.10,GA,2022-09-24 10:4305
132,132,Hlotse,-28.8718,28.0450,81.14,13,0,13.58,LS,2022-09-24 10:4306
139,139,Cabo San Lucas,22.8909,-109.9124,80.51,88,84,1.01,MX,2022-09-24 10:3934
142,142,Medea,36.2642,2.7539,79.29,25,51,10.38,DZ,2022-09-24 10:4410
143,143,Qiongshan,20.0058,110.3542,75.18,94,40,6.71,CN,2022-09-24 10:4410
146,146,Bambous Virieux,-20.3428,57.7575,75.45,69,75,16.11,MU,2022-09-24 10:4412
150,150,Quatre Cocos,-20.2078,57.7625,75.31,75,20,17.56,MU,2022-09-24 10:4413
154,154,Shache,38.4167,77.2406,82.31,19,99,7.52,CN,2022-09-24 10:4415
158,158,Progreso,21.2833,-89.6667,78.12,90,44,5.64,MX,2022-09-24 10:4417
160,160,Chalmette,29.9427,-89.9634,78.80,77,0,10.36,US,2022-09-24 10:4418
164,164,Micheweni,-4.9667,39.8333,82.04,67,39,10.69,TZ,2022-09-24 10:4419
165,165,Funadhoo,6.1500,73.2667,83.28,72,92,15.50,MV,2022-09-24 10:4420
167,167,Shetpe,44.1667,52.1167,82.63,37,26,9.53,KZ,2022-09-24 10:4421
169,169,Sabha,27.0377,14.4283,88.39,35,43,10.38,LY,2022-09-24 10:4422
172,172,Ternate,0.8000,127.4000,81.28,77,79,7.29,ID,2022-09-24 10:4423
174,174,Watsa,3.0372,29.5355,79.83,60,71,5.12,CD,2022-09-24 10:4424

In [13]:
# # Null values
# preferred_cities_df.isnull().sum
# preferred_cities_df.notnull().sum
preferred_cities_df.count()

City_ID       192
City          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
Country       192
Date          192
dtype: int64

In [14]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
7    Butaritari      KI     81.45   3.0707  172.7902
22        Vaini      TO     75.36 -21.2000 -175.2000
33   Sol-Iletsk      RU     78.48  51.1631   54.9918
38   Georgetown      MY     85.95   5.4112  100.3354
42         Hilo      US     78.28  19.7297 -155.0900
44  Grand-Lahou      CI     80.69   5.1367   -5.0242
47      Labuhan      ID     83.88  -6.8844  112.2051
48      Brandon      US     77.86  27.9378  -82.2859
56       Jiwani      PK     82.90  25.0500   61.7417
61     Nanyamba      TZ     85.80 -10.6833   39.8333

## Retrieve Hotels from a Nearby Search

In [15]:
#set parameters
params={
    "radius": 5000,
    "types": "lodging",
    "key":g_key,}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    #Get the latitude an longitude
    lat=row["Lat"]
    lng=row["Lng"]
    #Add the latitude and longitude to location key for the parms dictionary
    params["location"]=f"{lat},{lng}"
    
    #Use the sarch term"lodging" and our latitude and longitude.
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search
    hotels= requests.get(base_url, params=params).json()
    
    
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Butaritari,KI,81.45,3.0707,172.7902,Isles Sunset Lodge
22,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
33,Sol-Iletsk,RU,78.48,51.1631,54.9918,Raduzhnaya
38,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
42,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
44,Grand-Lahou,CI,80.69,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
47,Labuhan,ID,83.88,-6.8844,112.2051,DoubleFAG
48,Brandon,US,77.86,27.9378,-82.2859,Embassy Suites by Hilton Tampa Brandon
56,Jiwani,PK,82.90,25.0500,61.7417,Hooth Market
61,Nanyamba,TZ,85.80,-10.6833,39.8333,Busati Lodge Nanyamba

### Create a Maximum Temperature Heatmap from a Hotel Data Frame

In [17]:
#Add a heatmap of temperature for the vacation spots.
locations= hotel_df[["Lat","Lng"]]
max_temp= hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Add a heatmap of temperature for the vacation spots and marker for each city
locations= hotel_df[["Lat","Lng"]]
max_temp= hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=max_temp,
                              dissipating=False, max_intensity=300, 
                               point_radius=4)
#add markers for each city on top of the heatmap
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
We need to add an info_box_template that has the following syntax.

First, the info_box_template variable is assigned to a multiline string using three quotes. The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets e.g., ```<tag>```. Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd. The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag. We'll see more examples of HTML code in an upcoming module.
-  The ```<dl>``` tag is a description list (dl).
- The ```<dt>``` tag is a term or name in a description list that is nested under the```<dl>``` tag.
- The ```<dd>``` tag is used to define the term or name or ```<dt>``` tag.

If we were to write out these tags on paper, it would look like this.

- Description List: ```<dl>```
    - Description Term: ```<dt>```
        - Description Definition: ```<dd>```
    - Description Term: ```<dt>```
        - Description Definition: ```<dd>```

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

In [20]:
#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations=hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig= gmaps.figure(center=(30.0, 31.0),zoom_level=1.5)
heat_layer =gmaps.heatmap_layer(locations, 
                                weights= max_temp, 
                                dissipating=False, max_intensity=300, 
                                point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))